<!-- app/views/public_recipes/index.html.erb -->
<h2>Public Recipe List</h2>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Number of Food Items</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @public_recipes.each do |recipe| %>
        <tr>
          <td>
            <%= recipe.name %><br>
            by <%= recipe.user.name %>
          </td>
          <td><%= recipe.user.count_food_items %></td>
          <td><%= recipe.user.total_price %></td>         
          <td>
            <%= link_to 'Details', recipe_path(recipe), class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
